<div class="card">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
    <div class="mb-3">
      <mat-form-field>
        <input
          [ngClass]="{ 'is-invalid': submitted && loginForm.get('email').errors }"
          class="form-control"
          formControlName="email"
          matInput
          placeholder="Email"
          type="text"
        />
      </mat-form-field>
      <div *ngIf="submitted && loginForm.get('email').errors" class="invalid-feedback">
        <div *ngIf="loginForm.get('email').errors['required']">Email is required</div>
      </div>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <input
          [ngClass]="{ 'is-invalid': submitted && loginForm.get('password').errors }"
          class="form-control"
          formControlName="password"
          matInput
          placeholder="Password"
          type="password"
        />
      </mat-form-field>
      <div *ngIf="submitted && loginForm.get('password').errors" class="invalid-feedback">
        <div *ngIf="loginForm.get('password').errors['required']">Password is required</div>
      </div>
    </div>
    <button [disabled]="loading" class="btn btn-primary login-btn" mat-button>
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
    </button>
  </form>
</div>
