@import '../variables';

:host {

  .card {
    position: absolute;
    display: flex;
    width: 300px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    border: 2px solid $primary-color;
    border-radius: 5px;
  }

  .login-form {
    display: flex;
    width: 250px;
    flex-direction: column;
  }

  .login-btn {
    align-self: flex-end;
  }

  mat-form-field {
    width: 250px;
    margin: 5px;
  }
}
