<div class="card">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
    <div class="mb-3">
      <mat-form-field>
        <input
          [ngClass]="{ 'is-invalid': submitted && loginForm.get('firstName').errors }"
          class="form-control"
          formControlName="firstName"
          matInput
          placeholder="First name"
          type="text"
        />
      </mat-form-field>
      <div *ngIf="submitted && loginForm.get('firstName').errors" class="invalid-feedback">
        <div *ngIf="loginForm.get('firstName').errors['required']">First name is required</div>
      </div>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <input
          [ngClass]="{ 'is-invalid': submitted && loginForm.get('lastName').errors }"
          class="form-control"
          formControlName="lastName"
          matInput
          placeholder="Last name"
          type="text"
        />
      </mat-form-field>
      <div *ngIf="submitted && loginForm.get('lastName').errors" class="invalid-feedback">
        <div *ngIf="loginForm.get('lastName').errors['required']">Last name is required</div>
      </div>
    </div>
    <div class="mb-3">
      <mat-form-field style="flex-direction: row !important;">
        <mat-label>Choose your birthday</mat-label>
        <input
          [matDatepicker]="picker"
          [ngClass]="{ 'is-invalid': submitted && loginForm.get('birthDay').errors }"
          class="form-control"
          formControlName="birthDay"
          matInput placeholder="Birth day"/>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle [for]="picker"
                               style="position: absolute; bottom: 2px; right: 0px"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div *ngIf="submitted && loginForm.get('birthDay').errors" class="invalid-feedback">
        <div *ngIf="loginForm.get('birthDay').errors['required']">Birthday is required</div>
      </div>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <input
          [ngClass]="{ 'is-invalid': submitted && loginForm.get('email').errors }"
          class="form-control"
          formControlName="email"
          matInput
          placeholder="Email"
          type="text"
        />
      </mat-form-field>
      <div *ngIf="submitted && loginForm.get('email').errors" class="invalid-feedback">
        <div *ngIf="loginForm.get('email').errors['required']">Email is required</div>
      </div>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <input
          [ngClass]="{ 'is-invalid': submitted && loginForm.get('password').errors }"
          class="form-control"
          formControlName="password"
          matInput
          placeholder="Password"
          type="password"
        />
      </mat-form-field>
      <div *ngIf="submitted && loginForm.get('password').errors" class="invalid-feedback">
        <div *ngIf="loginForm.get('password').errors['required']">Password is required</div>
      </div>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <input
          [ngClass]="{ 'is-invalid': submitted && loginForm.get('confirmPassword').errors }"
          class="form-control"
          formControlName="confirmPassword"
          matInput
          placeholder="Confirm password"
          type="password"
        />
      </mat-form-field>
      <div *ngIf="submitted && loginForm.get('confirmPassword').errors" class="invalid-feedback">
        <div *ngIf="loginForm.get('confirmPassword').errors['required']">Confirm password is required</div>
      </div>
      <div *ngIf="submitted && !confirmPasswordMatched" class="invalid-feedback">
        <div>Should match with first password</div>
      </div>
    </div>
    <button [disabled]="loading" class="btn btn-primary login-btn" mat-button>
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Sign Up
    </button>
  </form>
</div>
